html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}
/* 
html, body {
  height: 100%;
} */

a {
  text-decoration: none;
  color: black;
}

body{
  background-color: #bbb;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

/* nav li{
  display:inline;
  line-height: 4;
  padding-right:20px;

} */

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  position: absolute;
  top:  -40px;
}

.skip a:focus, .skip a:hover{
  top:  0px;
}


nav{
  background-color: #ddd;
  padding: 30px 0px;
  text-align: left;
}

nav ul{
  /* display:inline; */
  /* line-height: 4; */
  margin-top: -8px !important; 
  list-style-type: none;
  display:inline-block;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;

}

nav li {
  transition: all 1s ease;
  padding: 10px 10px;
  /* margin-top: -10px; */
  display:inline-block;
}

nav .navhome {
  display: none;
}

nav .navworks:hover {
  background-color: orange;
}
nav .navprojects:hover {
  background-color: yellow;
}
nav .navnotes:hover {
  background-color: greenyellow;
}
nav .navgalleries:hover {
  background-color: blue;
}
nav .navcontact:hover {
  background-color: purple;
}

.nav-left {
  margin-left: 10px;
  margin-top: -10px;
  float: left;
}

.nav-right {
  margin-top: -10px;
  padding-right:20px;
  float: right;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}

nav p {
  font-size: 14px;
}

nav h4 {
  text-align: left;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
}

nav a:hover, nav a:focus{
  /* background-color: #ddd; */
}

*:focus {
  border-style: solid;
  border-width: 2px;
}

nav li.curr {
  text-decoration: underline; 
  background-color: #555555;
  color: white;
}

footer{
  /*position: fixed;*/
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;

  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}

footer .icon{
  color: white;
  margin: 0 5px;
  font-size: 30px;
}

footer p {
  margin-top: 10px;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  header{
    background-attachment: initial;
  }
}


@media all and (max-width: 630px){
  nav .navhome {
    display: inline-block;
  }
  .nav-left {
    display: none;
  }
}

@media all and (max-width: 530px){
  nav {
    padding: 60px 0px;
  }
  .nav-right {
    margin-top: -30px;
    padding-right: 0px;
    float: left;
  }
  nav li {
    width: 70px;
  }
}

@media all and (min-width: 530px){
  nav .break {
    display: none;
  }
}