body{
margin: 0;
padding: 0;
}

h1{
  color: black;
  font-size: 32px;
  text-align: center;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; /* I don't need this  line*/
  margin: auto;
  width: 95vw;
  grid-row-gap: 20px;
}

main div {
  overflow: hidden;
}

/* nav div{
  overflow: auto;
} */

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1 / -1;
}

img {
  max-height:100%; width:100%; max-width: 550px;
}

/* Tablet layout */
/* Two equal columns using fr*/
/* Six rows of 350px and one of 100px*/
@media screen and (min-width: 600px){

  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 50px;
    margin: auto;
    row-gap: 20px;
    grid-column-gap: 20px;
    width: 95vw;
  }

  #image_gdself {
    grid-row: 2 / 4;
  }
}
