body {
  background-image: url('../imgs/concrete_seamless.png');
  
  text-align: center;
}

form {
  /* border: 3px solid #f1f1f1; */
  width: auto;
  /*background: #91ffdc;*/
  /*background-image: url('../imgs/concrete_seamless.png');*/
}

/* .title {
  text-align: center;
  padding: 20px 0;
} */

legend h1 {
  font-size: 40px;
  line-height: 0.8;
  font-style:italic;
  text-transform: uppercase;
  margin-bottom: -10px;
}

legend{ 
  font-size: 125%;
  text-align: center;
  margin-bottom: 20px;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: #333333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /* width: 100%; */
}

input[type=submit]:hover {
  opacity: 0.8;
}

div + label{
  line-height: 25vh;
  vertical-align:top;
}

.contact {
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
  form{
    width: 60%;
    margin: 0 auto;
  }

  input{
    width:80%;
  }

  textarea{
    width:80%;
    height: 25vh;
  }
 
}