body{
margin: 0;
padding: 0;
}

h1{
  color: black;
  font-size: 32px;
  text-align: center;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; /* I don't need this  line*/
  margin: auto;
  width: 95vw;
  grid-row-gap: 20px;
}

div{
  overflow: hidden;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-column: 1 / -1;
}

img {
  max-height:100%; width:100%; max-width: 550px;
}

/* Tablet layout */
/* Two equal columns using fr*/
/* Six rows of 350px and one of 100px*/
@media screen and (min-width: 600px){

  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 350px 100px;
    margin: auto;
    row-gap: 20px;
    grid-column-gap: 20px;
    width: 95vw;
  }

      /* <img id="image_cake" src="imgs/gallery_cake.jpg" alt="img0" />
      <img id="image_sushi" src="imgs/gallery_sushi.jpg" alt="img1" />
      <img id="image_meat" src="imgs/gallery_meat.jpg" alt="img2" />
      <img id="image_gdself" src="imgs/gallery_gd1.jpg" alt="img3" />
      <img id="image_gdchick" src="imgs/gallery_gd2.jpg" alt="img7" />
      <img id="image_gdfish" src="imgs/gallery_gd3.jpg" alt="img8" />
      <img id="image_gdcf" src="imgs/gallery_gd4.jpg" alt="img4" />
      <img id="image_gdbean" src="imgs/gallery_gd5.jpg" alt="img5" />
      <img id="image_gdsweet" src="imgs/gallery_gd6.jpg" alt="img6" /> */
  #image_gdself {
    grid-row: 2 / 4;
  }
}
/* 
@media screen and (min-width: 1000px){
  .container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px 350px 350px 100px;
    margin: auto;
    width: 95vw;
      }

  .img-one{
    grid-column: 3 / -1;
  }

  .img-two{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .img-three{
    grid-column: 3 / -1;
  }

  .img-four{
    grid-row: 3 / auto;
    grid-column: 2 / auto;
  }
  
  .img-five{
    grid-row: 3 / auto;
    grid-column: 1 / auto;
  }

  .img-six{
    grid-row: 3 / auto;
    grid-column: 3 / auto;
  }

  .img-seven{
    grid-row: 4 / span 2;
    grid-column: 2 / span 2;
  }

  .img-eight{
    grid-row: 4 / span 2;
    grid-column: 1 / auto;
  }

  .img-nine{
    grid-row: 3 / span 3;
    grid-column: 4 / auto;
  }
} */
